.main {
  background-color: yellow;
  max-width: 1200px;

  padding: 50px 60px;
  margin: 20px auto;
}

.titleWrap {
  display: flex;
  justify-content: space-between;
}

.sectionWrap {
  display: flex;
  gap: 20px;
}

.sectionWrap input {
  display: flex;
  flex-grow: 1;
  border: 1px solid;
  border-radius: 8px;
  padding: 10px;
}

.sectionWrap button {
  background-color: white;
  border: 1px solid;
  border-radius: 8px;
}
