.main {
  background-color: white;
  padding: 30px 20px;
  margin: 30px auto;
}

.titleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionWrap {
  display: flex;
  gap: 20px;
}

.sectionWrap input {
  display: flex;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid;
  border-radius: 8px;
}

.sectionWrap button {
  background-color: blue;
  border: 1px solid;
  border-radius: 8px;
  color: white;
}

.footWrap {
  margin-top: 20px;
}
